 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
 
 body {
     font-family: 'Bangers', sans-serif;
     font-weight: 400;
     font-size: 100%;
     overflow-x: hidden;
     word-wrap: break-word;
     background: url(../img/papel.jpg) 100% 100% repeat;
 }
 
 h1 {
     font-size: 1.8rem;
     line-height: 1.2;
     font-weight: 800;
     margin-top: 0;
     margin-bottom: 0;
     text-align: center;
 }
 
 h2 {
     font-size: 1.5rem;
     line-height: 1em;
     font-weight: 800;
     padding: 20px;
     text-align: center;
 }
 
 h3 {
     font-size: 1.25rem;
     margin-bottom: 1rem;
     font-weight: 600;
 }
 
 p {
     line-height: 1.2;
     margin-bottom: 1rem;
     font-family: 'Special Elite', cursive;
 }
 
 a {
     font-size: .8rem;
     margin-top: 5px;
     text-decoration: none;
     color: black;
 }
 
 a:hover {
     color: red
 }
 
 figcaption {
     text-align: center;
     padding: 15px;
 }
 
 @media (min-width: 992px) {
     h1 {
         font-size: 6rem;
     }
     h2 {
         font-size: 2.5rem;
         text-align: center;
     }
     h3 {
         font-size: 1.5rem;
     }
     p {
         font-size: 1.6rem;
         padding-left: 30px;
         padding-right: 30px;
     }
 }
 /****************************
      Contenedores del sitio
     *****************************/
 
 div {
     background: url(../img/papelclaro.jpg) 100% 100% repeat;
 }
 
 main {
     width: 90%;
     margin: auto;
 }
 
 header {
     padding: 10px 0 10px 0;
     width: 90%;
 }
 
 footer {
     padding: 30px;
     text-align: center;
     width: 90%;
     margin: auto;
 }
 
 .container,
 .video,
 section {
     margin-right: auto;
     margin-left: auto;
     padding: 10px;
 }
 
 section {
     padding-bottom: 20px;
 }
 
 @media (min-width: 992px) {
     .titulopagina {
         padding: 0;
         margin: 0;
         width: 80%;
         margin: auto;
         text-align: center;
     }
     section {
         padding-bottom: 5px;
     }
 }
 /****************************
         Contenidos del header
        *****************************/
 
 header {
     text-align: center;
     background: url(../img/papel.jpg) 100% 100% repeat;
 }
 
 .foto {
     flex: 1;
     background: url(../img/papel.jpg) 100% 100% repeat;
     padding-right: 0px;
 }
 
 .ibañez {
     width: auto;
     height: 100px;
     border-radius: 50%;
     box-shadow: 0 0 0 3px black;
 }
 
 .cabecera {
     flex: 3;
     padding: 0;
     margin: 0;
     text-align: center;
     flex: 1;
     background: url(../img/papel.jpg) 100% 100% repeat;
 }
 
 @media (min-width: 992px) {
     header {
         display: flex;
     }
     .foto {
         flex: 1;
         background: url(../img/papel.jpg) 100% 100% repeat;
         padding-right: 0px;
     }
     .cabecera {
         flex: 4;
         padding-right: 0px;
     }
 }
 /****************************
         Contenidos página principal
        *****************************/
 
 svg {
     animation: mortadelo;
     animation-duration: 20s;
     animation-iteration-count: infinite;
     width: 100%;
 }
 
 @keyframes mortadelo {
     from {
         margin-left: 10%;
         width: 0%
     }
     to {
         margin-right: 10%;
         width: 300%;
     }
 }
 
 .indexx .container p {
     padding: 0;
 }
 
 .img-index {
     height: auto;
     width: 100%;
     display: block;
     margin-left: auto;
     margin-right: auto;
     margin-top: 15px;
     margin-bottom: 15px;
     transition: width 2s, height 2s
 }
 
 .img-index:hover {
     width: 200px;
     height: 200px;
 }
 
 .index {
     width: 100%;
     height: auto;
     padding: 10px;
 }
 
 .indexx .container {
     height: auto;
     width: 100%;
     box-shadow: 0 0 0 5px white;
     margin-top: 30px;
     margin-bottom: 30px;
 }
 
 .indexx {
     height: auto;
     width: 100%;
     padding-bottom: 30px;
 }
 
 @media (min-width: 992px) {
     svg {
         animation-duration: 6s;
     }
     .indexx .container {
         display: flex;
     }
     .indexx {
         display: grid;
         grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
         grid-template-rows: 1fr 1fr 1fr;
     }
     .indexx .container:nth-child(1) {
         grid-column-start: 2;
         grid-column-end: 5;
         grid-row: 1;
     }
     .indexx .container:nth-child(2) {
         grid-column-start: 3;
         grid-column-end: 6;
         grid-row: 2;
     }
     .indexx .container:nth-child(3) {
         grid-column-start: 2;
         grid-column-end: 5;
         grid-row: 3;
     }
 }
 /****************************
      Menú de navegación del sitio
 *****************************/
 
 nav {
     width: 90%;
     margin: auto;
 }
 
 .menu>ul>li {
     box-shadow: 0 0 0 2px black;
     flex: 1;
     margin: 10px;
     justify-content: space-between;
     text-align: center;
     line-height: 30px;
     background: url(../img/papelclaro.jpg) 100% 100% repeat;
     font-family: 'Special Elite', cursive;
 }
 
 .menu>ul>li>a {
     text-decoration: none;
     color: black;
 }
 
 .menu>ul>li>a:hover {
     color: red;
 }
 
 nav li.active a {
     font-weight: 800;
     color: red;
 }
 
 .menu>ul {
     padding: 0px;
     display: flex;
     list-style: none;
 }
 
 .menufooter {
     list-style: none;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
 }
 
 .menufooter li {
     text-align: center;
     font-family: 'Special Elite', cursive;
     font-weight: bolder;
     line-height: 20px;
 }
 
 @media (min-width: 992px) {
     nav {
         width: 50%;
         margin: auto;
         padding-bottom: 50px;
     }
     nav ul {
         display: flex;
     }
     nav ul li {
         text-align: center;
         margin-right: 30px;
         font-family: 'Special Elite', cursive;
         font-weight: bolder;
         padding: 5px;
     }
     nav ul li:last-child {
         margin-right: 0;
     }
     nav ul li a,
     .menufooter li a {
         font-size: 1.5rem;
     }
 }
 /****************************
  ENLACES DE PÁGINA
    *****************************/
 
 .leermas {
     color: red
 }
 /****************************
      Contenido Lista PERSONAJES
 *****************************/
 
 .figPortada {
     display: none;
     transition: all .5s;
 }
 
 .figPortada:hover>figcaption {
     display: block;
     transition: all .5s;
 }
 
 .personaje {
     margin-bottom: 20px;
 }
 
 .portada {
     height: auto;
     display: block;
     margin-left: auto;
     margin-right: auto;
 }
 
 @media (min-width: 992px) {
     .personajes {
         display: grid;
         grid-template-columns: 1fr;
         grid-template-rows: 1fr 1fr 1fr 1fr;
         background-image: none;
     }
     .personaje {
         display: flex;
     }
 }
 
 @media (orientation:landscape) {
     .personajes {
         display: grid;
         grid-template-columns: 1fr;
         grid-template-rows: 1fr 1fr 1fr 1fr;
         background-image: none;
     }
 }
 /****************************
      Contenido detalle PERSONAJES
 *****************************/
 
 .portadaPer {
     display: block;
     margin-left: auto;
     margin-right: auto;
     margin-top: 15px;
     margin-bottom: 15px;
 }
 
 .fotosp {
     height: 220px;
     width: 98%;
     display: block;
     margin: auto;
 }
 
 article {
     margin-bottom: 30px;
     margin: auto;
 }
 
 .fotosPersonajes1 .container {
     width: 100%;
     border-color: burlywood;
     border-width: 4px;
     border-style: solid;
 }
 
 figure p {
     font-family: 'Bangers', sans-serif;
     background-color: white;
     size: 3rem;
     margin-bottom: 0;
     width: 98%;
     display: block;
     margin: auto;
     text-align: center;
     border-color: black;
     border-width: 1px;
     border-style: solid;
 }
 
 @media (min-width: 992px) {
     iframe {
         width: 560px;
         height: 315px;
     }
     .fotosp {
         height: 260px;
         width: 300px;
     }
     figure p {
         width: 300px;
     }
     .video figure p {
         width: 70%;
     }
     .fotosPersonajes1 {
         display: grid;
         grid-template-columns: 1fr 1fr 1fr;
         grid-template-rows: .25fr 1fr 1fr;
         background-image: none;
     }
     .sacarino .fotosPersonajes1,
     .rompetechos .fotosPersonajes1,
     .mortadelo .fotosPersonajes1 {
         grid-template-columns: 1fr 1fr 1fr;
         grid-template-rows: .25fr 1fr;
     }
     .rompetechos .fotosPersonajes1,
     .pepe .fotosPersonajes1 {
         grid-template-columns: 1fr 1fr;
         grid-template-rows: .15fr 1fr;
     }
     .fotosPersonajes1 :nth-child(1) {
         grid-column-start: 1;
         grid-column-end: 4;
         grid-row-start: 1;
     }
     .fotosPersonajes1 :nth-child(2) {
         grid-column-start: 1;
         grid-column-end: 1;
         grid-row-start: 2;
     }
     .fotosPersonajes1 :nth-child(3) {
         grid-column-start: 2;
         grid-column-end: 2;
         grid-row-start: 2;
     }
     .fotosPersonajes1 :nth-child(4) {
         grid-column-start: 3;
         grid-column-end: 3;
         grid-row-start: 2;
     }
     .fotosPersonajes1 :nth-child(5) {
         grid-column-start: 1;
         grid-column-end: 1;
         grid-row-start: 3;
     }
     .fotosPersonajes1 :nth-child(6) {
         grid-column-start: 2;
         grid-column-end: 2;
         grid-row-start: 3;
     }
     .fotosPersonajes1 :nth-child(7) {
         grid-column-start: 3;
         grid-column-end: 3;
         grid-row-start: 3;
     }
 }
 
 @media(max-width: 992px) and (orientation:landscape) {
     .fotosp {
         height: 260px;
         width: 300px;
     }
     figure p {
         width: 300px;
     }
 }
 /****************************
       Contenido BIOGRAFIA
     *****************************/
 
 .bio header {
     text-align: center;
     background: none;
     color: black;
     margin-bottom: 30px;
     margin: auto;
 }
 
 .fotosb {
     height: 220px;
     width: 98%;
     margin: auto;
     display: block;
     margin: auto;
 }
 
 .fotosb1 {
     margin: auto;
     display: block;
     clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
 }
 
 @media (min-width: 992px) {
     .fotosb {
         height: 350px;
         width: 600px;
         margin: auto;
     }
     .bio {
         padding: 20px;
     }
     .bio h2 {
         text-align: left;
     }
 }
 
 @media(max-width: 992px) and (orientation:landscape) {
     .fotosb {
         height: 220px;
         width: 70%;
     }
 }
 /****************************
      Contenido LISTADO DE ENLACES
     *****************************/
 
 .ListaEnlaces>li {
     background: url(../img/papelclaro.jpg) 100% 100% repeat;
     font-family: 'Special Elite', cursive;
 }
 
 .ListaEnlaces>li>a {
     text-decoration: none;
     color: black;
     font-size: 1rem;
     line-height: 2rem;
     font-weight: 600;
 }
 
 .ListaEnlaces>li>a:hover {
     color: red;
 }
 
 .ListaEnlaces {
     padding: 0px;
     list-style: none;
 }
 
 .enlaces {
     height: 67vh;
 }
 
 @media (min-width: 992px) {
     .ListaEnlaces>li {
         text-align: center;
     }
 }